body{
	/*font-family: 'Open Sans', sans-serif; */
	background:#F0EFEE;
}
.wrap{
	width:80%;
	margin:0 auto;
}
/**
 * Grid container
 */
#main {
	margin-top: 7em;
}
#tiles {
  list-style-type: none;
  position: relative; 
  margin: 0;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
/**
 * Grid items
 */
#tiles li {
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
	width: 100%;
}

/*----start-post-grids----*/
.post-basic-info{
	padding: 7% 7% 5% 7%;
}
.post-basic-info h3 a{
	color: #717171;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	display: block;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info h3 a:hover{
	color:#B9CB41;
}
.post-basic-info span a{
	color:#ACAAAA;
	font-size:0.9em;
}
.post-basic-info span a label{
	height:12px;
	width:12px;
	display:inline-block;
	background:url(static/image/sys/cataloge.png) no-repeat 0px 0px;
	margin-right: 0.4em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.post-basic-info span a:hover{
	color:#B9CB41;
}
.post-basic-info p{
	font-size: 0.875em;
	color: #B7B5B5;
	margin: 0.6em 0;
	line-height: 1.5em;
}
/*--post-info-rate-share--*/
.post-info-rate-share{
	border-top: 1px solid rgba(183, 181, 181, 0.36);
	padding: 4% 0 2%;
}
.download span{
	background:url(static/image/sys/download.png) no-repeat 0px 0px;
	height:26px;
	width:26px;
	display:inline-block;
	border-radius:30em;
	-webkit-border-radius:30em;
	-moz-border-radius:30em;
	-o-border-radius:30em;
}
.sidebar{
	position:fixed;
	bottom:10px;
	right:15px;
	text-align: center;
}
.download span:hover{
	background:url(static/image/sys/download_h.png) no-repeat 0px 0px;
}

@media only screen and (max-width:640px) and (min-width:480px) {
	#main {
		margin-top: 7em;
	}
}
@media only screen and (max-width:480px) and (min-width:320px) {
	#main {
		margin-top: 9.5em;
	}
}
@media only screen and (max-width:320px) and (min-width:240px) {
	#main {
		margin-top: 9em;
	}
	#tiles li {
		width: 266px;
	}
}